@font-face {
    font-family: 'KIMM_Bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'KIMM_Bold';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
}

html > body,  html > body .toastui-editor-contents, html > body .ProseMirror{
	font-family: 'KIMM_Bold', sans-serif;
}

html > body .toastui-editor-contents, html > body .ProseMirror {
	font-size: 1.25rem;
}

.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td{
	border:1px solid black;
	padding: 10px;
	text-align:center;
}

.btn-text-link {
	color:black;
}

.btn-text-link:hover {
	color:red;
	text-decoration: underline;
}

body {
	min-width:800px;
}

.border-bottom-line {
	border-bottom: 1px solid #e1e1e1;
}